<ion-view ng-controller="ChooseCtrl">
    <ion-content ng-controller="ChooseCtrl">
      <div class="padding">

      </div>
        <h1 class="font">Daily Bulletin</h1>
        <p style='text-align:center'>Please select the daily bulletin for your school.</p>
      </div>
        <ion-list>
          <ion-item class="item-icon-right" ui-sref="app.upperschool">
            Upper School
            <i  class="icon ion-chevron-right" style="font-size:12px"></i>
          </ion-item>
          <ion-item class="item-icon-right" ui-sref="app.middleschool">
            Middle School
            <i  class="icon ion-chevron-right" style="font-size:12px"></i>
          </ion-item>
          <ion-item ui-sref="app.lowerschool" class="item-icon-right">
            Lower School
            <i  class="icon ion-chevron-right" style="font-size:12px"></i>
          </ion-item>
        </ion-list>

    </ion-content>
</ion-view>
