<ion-view>
    <ion-content style="text-align:center">
        <h1>Ad-Free</h1>
        <h3>Coming Soon...</h3>
        <p>
            You can get rid of the ads for a small price in a future update.
        </p>
        <!--<button class="button button-assertive button-block button-outline icon ion-ios-cart icon-right" ng-click="buy()">Purchase Ad-Free</button>
        <button class="button button-positive button-block button-outline icon ion-ios-refresh icon-right" ng-click="restore()">Restore Purchase</button>-->
    </ion-content>
</ion-view>
