<ion-view ng-controller="LSCtrl">
    <ion-content class="padding" ng-init="init()">
        <ion-refresher pulling-text="Pull to refresh..." on-refresh="init()"></ion-refresher>
        <div class="row">
            <div class="col">
                <h1 style="text-align:center">Lower School</h1>
                <!--<p ng-bind-html="entries">
                </p>-->
                <p style="text-align:center">
                  This bulletin is coming in a future update. Thank you for your patience.
                </p>
            </div>
        </div>
    </ion-content>
</ion-view>
