<ion-view>
  <ion-content>
    <h1 class="padding" class="font">Typography</h1>
    <p class="padding" style="text-align:center">
      Don't like the font? Go ahead and change it.
    </p>
    <ion-radio ng-model="user.font" ng-value="'Open Sans'" ng-change="fontChange()" style="font-family:'Open Sans'">Open Sans</ion-radio>
    <ion-radio ng-model="user.font" ng-value="'Lato'" ng-change="fontChange()" style="font-family:'Lato'">Lato</ion-radio>
    <ion-radio ng-model="user.font" ng-value="'Helvetica'" ng-change="fontChange()" style="font-family:'Helvetica'">Helvetica</ion-radio>
    <ion-radio ng-model="user.font" ng-value="'Roboto'" ng-change="fontChange()" style="font-family:'Roboto'">Roboto</ion-radio>
    <ion-radio ng-model="user.font" ng-value="'Raleway'" ng-change="fontChange()" style="font-family:'Raleway'">Raleway</ion-radio>
    <ion-radio ng-model="user.font" ng-value="'Comic Neue'" ng-change="fontChange()" style="font-family:'Comic Neue'">Comic Neue (God Almighty...)</ion-radio>
  </ion-content>
</ion-view>
